<html>
    <head>
        <title>RApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <%= stylesheet_link_tag "styles.css" -%>
    </head>

    <body>
        <div id="page-frame">
            <div id="page-header">
                <h1>RApp</h1>
            </div>

            <div id="page-content">
                <div id="login">
                    <div class="input-group">
                        <label>User Name:</label>
                        <input id="username-input" type="text" placeholder="raul" />
                    </div>
                    <div class="input-group">
                        <label>Room Name:</label>
                        <input id="room-name-input" type="text" placeholder="chives fans" autocapitalize="off" />
                    </div>
                </div>
                
                <div id="chatroom">
                    <div class="chat-room-title">
                        chat-room
                    </div>
                    
                    <div class="chat-room-messages">
                        <div class="chat-room-message-list"></div>
                    </div>
                    
                    <div class="chat-room-inputs">
                        <div class="textarea-wrapper">
                            <textarea></textarea>
                        </div> 
                    </div>        
                </div>
            </div>
        </div>
        
        <%= javascript_include_tag "//js.pusher.com/2.2/pusher.min.js" -%>
        <%= javascript_include_tag "application" -%>
        <%= javascript_include_tag "chat" -%>
    </body>
</html>