body {
    background: #CCCCCC;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    padding: 0px;
    margin: 0px;
}

#page-frame {
    background: #FFFFFF;
    border-left: 1px solid #CC00CC;
    border-right: 1px solid #CC00CC;
    margin: auto;
    height: 100%;
    position: relative;
    max-width: 800px; }

/* LOGIN STYLES */
#page-header h1 {
    color: #FFFFFF;
    background: #CC00CC;
    text-align: center;
    margin-bottom:140px;
}

#login .input-group label {
    width: 100px;
    display:inline-block;
    text-align:center;
}

#login .input-group input {
    height:25px;
}

#login .input-group {
    text-align:center;
    margin-bottom:10px;
}

/* CHAT ROOM STYLES */
#chatroom {
    display:none;
}

.chat-room-title {
    color: #FFFFFF;
    background: #CC00CC;
    border-bottom: 1px solid #CC00CC;
    font-weight: 300;
    height:20px;
    font-size:20px;
    text-align: center;
    padding-bottom: 10px;
}

.chat-room-messages {
    position:absolute;
    bottom:32px;
    top:80px;
    overflow:auto;
    left: 2%;
    right: 2%; }

.chat-room-message-list {
    bottom: 0px;
    position: absolute;
    width: 100%; }


.chat-room-messages .message .inner-message label {
    font-weight: bold;
}

.chat-room-messages .message .inner-message p {
    margin: 0px;
}

.chat-room-messages .message .inner-message {
    border-radius: 4px;
    box-sizing: border-box;
    display:inline-block;
    margin-bottom:10px;
    background:#ccc;
    padding:10px;
    width:60%;
    vertical-align: top;
}

.chat-room-messages .my-message {
    color: #FFFFFF;
    text-align:right;
}

.chat-room-messages .my-message .inner-message {
    background:#CC00CC;
}

.chat-room-messages .my-message .inner-message p {
    text-align: left;
}

.chat-room-messages .new-user-message {
    color: #CCCCCC;
    font-size: 12px;
    margin: 10px 0px;
    text-align: center;
}

.textarea-wrapper {
    margin-right:0px;
}

.chat-room-inputs {
    border-top: 1px solid #CC00CC;
    background:#00f;
    height: 32px;
    position:absolute;
    bottom:0px;
    left: 0px;
    right: 0px; }

.chat-room-inputs textarea {
    border: 0px;
    resize:none;
    height: 32px;
    width:100%;
}

/* CHAT MODE STYLES */
#page-frame.chat-mode #login {
    display: none;
}

#page-frame.chat-mode #chatroom {
    display:block;
}
#page-frame.chat-mode h1 {
    margin-bottom:0px; 
}